ROOT=/opt/plex
TZ=UTC
MEDIA_DIR=/mnt/plexmedia
PLEX_CLAIM=
PLEX_IMAGE=plexinc/pms-docker:1.43.3.10861-07dfddaeb@sha256:5bc1d13f48da6366f46aaf2a3ce1a6292897eadc1f8efcbbd7321d30e94f2ed4
PLEX_MEM_LIMIT=4g
PLEX_MEM_RESERVATION=512m
PLEX_CPUS=2.0
PLEX_PIDS_LIMIT=512
