COMPOSE_PROJECT_NAME=deluge
NGINX_IMAGE=local/nginx:latest
NGINX_MEMORY=256m
NGINX_CPUS=1.0
PRIMARY_DOMAIN=domain.com
WWW_DOMAIN=www.domain.com
DELUGE_HOST=deluge
DELUGE_PORT=8112
ACME_DIRECTORY=https://acme-v02.api.letsencrypt.org/directory
NGINX_CONF_DIR=./conf.d.runtime
